@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}
.btn{
    margin-top: 10px;
    display:inline-block;
    padding:10px 30px;
    border-radius:5px;
    color:#fff;
    background:var(--green);
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
    color:white;
}



.navbar{
    background:var(--green);
}

.navbar ul{
    text-align: center;
}

.navbar  li{
    color:#fff;
    display: inline-block;
    padding:5px;
    font-size: 17px; 
}
.navbar li a {
    color:#fff;
}

.navbar ul li:hover{
    background:var(--dark-color);
}


.navbar .container.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}


.header .header-1{
    background:#fff;
    padding:20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    /* font-size: 2.5rem; */
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--green);
}

.header .header-1 .search-form{
    /* width:50rem; */
    /* height:5rem; */
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 19px;
    padding:10px 20px;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    /* font-size: 2.5rem; */
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    /* font-size: 2.5rem; */
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}


.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
    padding-top: 50px;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:600px;
    padding:15px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin:10px;
}

.login-form-container form h3{
    font-size: 25px;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 15px;
    padding-top: 10px;
}

.login-form-container form .box{
    width: 100%;
    margin:7px 0;
    font-size: 16px;
    border:var(--border);
    border-radius: 5px;
    padding:10px 15px;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:5px;
    padding:10px 0;
}

.login-form-container form .checkbox label{
    font-size: 15px;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:15px 0;
}

.login-form-container form p{
    padding-top: 8px;
    color:var(--light-color);
    font-size: 15px;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:35px; right:25px;
    font-size: 25px;
    color:var(--black);
    cursor: pointer;
}


.home{
    background: url(../../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    padding:50px;
}

.home .row .content{
    flex:1 1 400px;
}

.home .row .books-slider{
    flex:1 1 600px;
    text-align: center;
    margin-top: 20px;
}

.home .row .books-slider a img{
    height: 100px;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: 15;
}

.home .row .content h3{
    color:var(--black);
    font-size: 50px;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 14px;
    line-height: 2;
    padding:10px 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:15px;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:15px;
    padding:20px 0;
}

.icons-container .icons i{
    font-size: 20px;
    color:var(--green);
}

.icons-container .icons h3{
    font-size: 20px;
    color:var(--black);
    padding-bottom: 5px;
}

.icons-container .icons p{
    font-size: 15px;
    color:var(--light-color);
}





.swiper-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blogs .blogs-slider .box{
    margin:20px 50px;
    border:var(--border);
    width:35%;
    display: flex;
    flex-direction: row;
}

.blogs .blogs-slider .box:hover{
    border:var(--border-hover);
}

.blogs .blogs-slider .box .image{
    height: 25px;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
    padding:15px;
}

.blogs .blogs-slider .box .content h3{
    font-size: 22px;
    color:var(--black);
}

.blogs .blogs-slider .box .content p{
    font-size: 14ox;
    color:var(--light-color);
    padding:10px 0;
    line-height: 2;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
    padding: 50px;
}

.footer .box-container .box h3{
    font-size: 22px;
    color:var(--black);
    padding:10px 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 14px;
    color:var(--light-color);
    padding:10px 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: 5px;
}

.footer .box-container .box a:hover i{
    padding-right: 20px;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:10px 0;
    text-align: center;
}

.footer .share a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color:#fff;
    background:var(--green);
    margin:0 3px;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 20px;
    padding:0 10px;
    padding-top: 25px;
    font-size: 20px;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}